/* Naked Embeds */
.markdown-embed-title {
  display: none;
}

.markdown-preview-view .markdown-embed {
  border: none;
  padding: 0;
  margin: 0;
}

.markdown-preview-view .markdown-embed-content {
  max-height: unset;
}

.markdown-preview-view .markdown-embed-content>:first-child {
  margin-top: 0;
}

.markdown-preview-view .markdown-embed-content>:last-child {
  margin-bottom: 0;
}

.markdown-preview-view .markdown-embed-content .markdown-preview-view { 
  padding:0;
}

.markdown-preview-view .markdown-embed .markdown-embed-link {
  display:none;
}

.markdown-preview-view .markdown-embed-content .markdown-preview-section>div:nth-child(2){
  display:none;
}

@media print{
  .markdown-preview-view .internal-link,
  .internal-link,
  a {
    text-decoration: none;
    color: inherit;
  }
}